body{
    width: 100%;
}
.w{
    &-30{
        width: 30%;
    }
    &-md{
        &-33{
            width: 33%;
            @media (max-width: 768px){
                width: 90%;
            }
        }
        &-98{
            width: 98%;
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }
}
.h{
    &-30{
        height: 30rem !important;
    }
    &-50{
        height: 50vh !important;
    }
}
.nav-header{
    background: rgba(0, 0, 0, .85);
    &--color-link{
        color: #999999;
    }
    &--hover{
        &:hover{
            color: white;
        }
    }
}
.transform{
    &-center{
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    &-bottom{
        bottom:-20%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.font{
    &-size{
        &__header{
            font-size: 3.5rem;
        }
        &__text{
            font-size: 1.25rem;
        }
    }
    &-weight{
        &-300{
            font-weight: 300;
        }
    }
}
.rounded{
    border-radius: 30px !important;
}
.box{
    height: 30rem;
}
.smartphone{
    position: absolute;
    height: 75vh;
    width: 20%;
    border-radius: 25px;    
    transform: rotate(30deg);
    transform-origin: center top;
    &-light{
        background: #e5e5e5;
        top: -50%;
        left: 17%;
        &::after{
            content:'';
            position: absolute;
            @extend .transform-center;
            width: 95%;
            height: 80%;
            background-color: rgba(255,255,255,.1);
            border-radius: 5px;
        }
    }
    &-dark{
        background: #333;
        right: 4%;
        top: 25%;
        &::after{
            content:'';
            position: absolute;
            @extend .transform-center;
            width: 95%;
            height: 80%;
            background-color: rgba(255,255,255,.1);
            border-radius: 5px;
        }
    }
}