body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 0;
    padding: 0;
}
.content{
    width: 60%;
    height: 60vh;
}
.content header{
    background: #666;
    text-align: center;
    box-sizing: border-box;
    color: white;
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.content header h1{
    padding: 0;
    margin: 0;
}
.content-body{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between; 
}
.content-body nav{
    width: 30%;
    background: #ccc;
}
.content-body nav ul{
    list-style: none;
    margin: 0;
    padding: 3vh;
}
.content .content-body .text{
    width: 60%;
    background: #fff;
    padding: 20px; 
    
}
.text h2{
    margin: 0;
    padding: 0;
}
footer{
    background: #666;
    text-align: center;
    box-sizing: border-box;
    color: white;
    padding: 1vh 0;
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
@media screen and (max-width: 1000px){
    .content-body, .content-body nav, .content .content-body .text{
        width: 100%;
        height: auto;
        display: block;
    }
}