.body-4{
    width: 100%;
    height: auto;    
    text-align: left;
    margin: 1vh 0;
    box-sizing: border-box;
}
.mycv{
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #DBDBDB;
    padding: 2vh 7vh;
}
.mycv h2{
    
}
.headerCV{
    width: 100%;
    height: 20vh;
    margin: 0;
    display: flex;
}
.avatar{
    text-align: center;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.6vh 0.3vh;
    border: 4px solid #246B81;
    border-radius: 50%;
}
.avatar img{
    margin: 0;
    height: 100%;
    width: 95%;
    border-radius: 50%;
    border: 2px solid #246B81;
    box-sizing: border-box;
}
.headerCV{
    padding: 0;
    margin: 0;
}
.headerCV .content{
    width: 79%;
    height: 100%;
    box-sizing: border-box;
}
.headerCV .content h2{
    width: 100%;
    font-weight: normal;
    border-bottom: 4px solid #246B81;
    padding: 3vh 0 1vh 1vh;
    color: #246B81;
    margin-bottom: 0;   
}
.headerCV .content table{
    margin: 0;
    width: 90%;
    text-align: left;
    margin: 0 auto;
}
.headerCV .content table i{
    padding-right: 1vh;
}
.bodyCV{
    margin-top: 7vh;
}
.bodyCV h2{
    color: #246B81;
    text-transform: uppercase;
    padding-bottom: 1vh;
    border-bottom: 2px solid #ccc;
    font-weight: normal;
    margin-bottom: 1vh;
    font-size: 22px;
}
.bodyCV span{
    color: #246B81;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.bodyCV h4{
    margin: 0;
    padding: 2px;;
    font-weight: normal;
}
.bodyCV table{
    width: 100%;
    margin: 0;
    border: 1px solid black;
    
}
.bodyCV td:first-child{
    width: 30%;
    
}
.bodyCV h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.bodyCV p{
    margin: 0; 
    padding: 0.2vh;
}
.footerCV{
    width: 100%;
    height: auto;
    justify-content: space-between;
    display: flex;
}
.footerCV .left{
    width: 40%;
}
.footerCV .right{
    width: 50%;
}
.footerCV h2{
    color: #246B81;
    text-transform: uppercase;
    padding-bottom: 1vh;
    border-bottom: 2px solid #ccc;
    font-weight: normal;
    margin-bottom: 1vh;
    font-size: 22px;
}
.footerCV .left .content-skill{
    margin: 2vh 0;
}
.footerCV h3{
    margin: 0;
    padding: 0.2vh;
    font-weight: normal;
}
.footerCV .left .content-skill .process-bar{
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
}
.footerCV .left .content-skill .process-bar .bar{
    height: 100%;
    background: #246B81;
    border-radius: 10px;
}
.footerCV .left .content-skill .process-bar .html{
    width: 80%;
}
.footerCV .left .content-skill .process-bar .css{
    width: 70%;
}
.footerCV .left .content-skill .process-bar .java{
    width: 75%;
}
.footerCV .left .content-skill .process-bar .english{
    width: 50%;
}
.footerCV .left .content-skill .process-bar .php{
    width: 40%;
}
.footerCV .left .content-skill .process-bar .javasript{
    width: 45%;
}
