@import "container";
$background-body: #FFCF31;
$background-button-CV: #292831;
.body{
    &--width-100{
        width: 100%;
    }
    &--height-100{
        height: 100vh;
    } 
    .container{
        &--bg-yellow{
            @include background-color($background-body);
        }
        &--border-radius-b-r{
            border-bottom-right-radius: 50%;
        }
        &__head{
            &--padding-l{
                padding-left: 50px;  
            }
            &--font-family{      
                font-family: 'Great Vibes', cursive;
            }
            h1{
                margin: 0;
            }
        }
        &__body{         
            &--d-flex{
                display: flex;
            }
            &--m-8-auto{
                margin: 8vh auto;
            }
            &--w-60{
                width: 60%;
            }
            &--justify-content-between{ 
                justify-content: space-between;
            }
            &-text{
                &--w-100{
                    width: 100%;
                }
                &--w-30{
                    width: 30%;
                }
                &--height-auto{
                    height: auto;
                }
                &--font-size-4vw{
                    font-size: 4vw;
                }
                &--font-size-1vw{
                    font-size: 1vw;
                }
                &--font-size-2vh{
                    font-size: 2vh;
                }
                &--text-transform-up{
                    text-transform: uppercase;
                }
                &--text-decoration-none{
                    text-decoration: none;
                }
                &--m-0{
                    margin: 0;
                }
                &--mb-30{
                    margin-bottom: 30px;
                }
                &--position-relative{
                    position: relative;
                }
                &--color{
                    color: #292831;
                }
                &--color-white{
                    color: white;
                }
                &--cursor-poin{
                    cursor: pointer;
                }
                &--transition{
                    transition: 0.2s;
                }
                &--btn-background{
                    background: $background-button-CV;
                }
                &--p-1vh-3vh{
                    padding: 1vh 3vh;
                }
                h2::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 95%;
                    height: 5px;
                    background: white;
                }
                &--btn-hover:hover{
                    padding: 1.5vh 3.5vh;
                }
            }
            &-image{
                &--w-100{
                    width: 100%;
                }
                &--w-40{
                    width: 40%;
                }
                &--h-40{
                    height: 40%;
                }
                &--cursor-poin{
                    cursor: pointer;
                }
                &--shadow{
                    box-shadow: 0 2px 35px -4px rgba(0,0,0,.50);
                }
                &--transition{
                    transition: 0.2s;
                }
            }
        }
    }
}