body{
    margin: 0;
    padding: 0;
}
section{
    width: 74%;
    height: 35.5vh;
    margin: 0 auto;
}
header, main, footer{
    margin: 15px 0;
}
section header{
    width: 100%;
    height: 23%;
    background: #FFC107;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}
section header div{
    background: #007BFF;
    width: 64%;
    height: 50%;
    border:  1px solid white;
}
section header div:last-child{
    background: #17A2B8;
    width: 30%;
    height: 50%;
}
section main{
    width: 100%;
    height: 50%;
    background: #6C757D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}
section main div{
    width: 23%;
    height: 75%;
    background: #007BFF;
    border: 1px solid white;
}
section main div:first-child{
    width: 43%;
    background: transparent;
    border: none;
}
section main div:first-child > div{
    width: 100%;
    height: 30%;
    background: #007BFF;
    border: 1px solid white;
}
section main div:first-child > div:first-child{
    width: 100%;
    height: 16%;
    background: #007BFF;
    border: 1px solid white;
    margin: 3.4vh 0;
}
footer{
    width: 100%;
    height: 10%;
    background: #007BFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
footer div{
    width: 30%;
    height: 5%;
    background: white;
}